<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag('elephant.jpg') %>
      <div class="carousel-caption">
        <h4>The lonely elephant</h4>
        <p>Elephants are large mammals of the family Elephantidae and the order Proboscidea. Traditionally, two species are recognised, the African elephant (Loxodonta africana) and the Asian elephant (Elephas maximus), although some evidence suggests that African bush elephants and African forest elephants are separate species (L. africana and L. cyclotis respectively).</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag('slum.jpg') %>
      <div class="carousel-caption">
        <h4>Life of Mr. Slum</h4>
        <p>A slum, as defined by the United Nations agency UN-HABITAT, is a run-down area of a city characterized by substandard housing, squalor, and lacking in tenure security. According to the United Nations, the percentage of urban dwellers living in slums decreased from 47 percent to 37 percent in the developing world between 1990 and 2005.[1]</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag('landscape.jpg') %>
      <div class="carousel-caption">
        <h4>On the rocks</h4>
        <p>Ireland (i/ˈaɪərlənd/, RP: [ˈʌɪələnd]; Irish: Éire [ˈeːɾʲə] ( listen); Ulster-Scots: Airlann or Airlan) is an island to the north-west of continental Europe. It is the third-largest island in Europe and the twentieth-largest island on Earth.[5] To its east is the larger island of Great Britain, from which it is separated by the Irish Sea.</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
